* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pre {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-wrap: wrap;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: center;
    transition: all 0.3s;
}

.main {
    columns: 4;
    column-gap: 15px;
    padding: 15px;
    transition: all 0.3s;
}

.main>div {
    margin-bottom: 10px;
    width: 100%;
}

.main>div img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

@media screen and (max-width: 1024px) {
    .main {
        columns: 3;
    }
}

@media screen and (max-width: 768px) {
    .main {
        columns: 2;
    }

}