* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

.container {
    background-color: #000000;
    height: calc(15vmin * 5);
    width: calc(15vmin * 4);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 15px;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(90, 90, 180, 0.4);
}

button {
    background-color: #000000;
    color: #ffffff;
    padding: 15px 25px;
    border: none;
    border-radius: 15px;
    margin-top: 30px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    transform: translate(0, -3px);
    box-shadow: 0 20px 80px -10px #585ac5;
}

.quad-circle-1 {
    clip-path: circle(100% at 0 100%);
}

.quad-circle-2 {
    clip-path: circle(100% at 100% 0);
}

.quad-circle-3 {
    clip-path: circle(100% at 100% 100%);
}

.quad-circle-4 {
    clip-path: circle(100% at 0 100%);
}

.triangle-1 {
    clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.triangle-2 {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.triangle-3 {
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
}

.triangle-4 {
    clip-path: polygon(0 0, 0 100%, 100% 100%);
}

.circle {
    border-radius: 50%;
}

.hexagon {
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

.leaf {
    clip-path: xywh(0 0 100% 100% round 90% 0);
}

.leaf-2 {
    clip-path: xywh(0 0 100% 100% round 0 90%);
}